<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.winddol.ai.infrastructure.dao.SectionMapper">

    <resultMap id="SectionMap" type="cn.winddol.ai.infrastructure.dao.po.Section">
        <id column="id" property="id"/>
        <result column="header" property="header"/>
        <result column="parent_id" property="parentId"/>
        <result column="idx" property="idx"/>
        <result column="score" property="score"/>
    </resultMap>

    <select id="searchByVector" resultType="cn.winddol.ai.domain.paperTools.model.aggregate.SearchResultDTO$SectionDTO">
        SELECT
        s.id,
        s.paper_id AS paperId,
        s.header,
        s.content,
        s.parent_id AS parentId,
        s.idx,
        p.title AS sourcePaperTitle,  -- 【关键】联表获取论文标题
        1 - (s.embedding &lt;=&gt; cast(#{vectorStr} as vector)) AS score
        FROM sections s
        LEFT JOIN papers p ON s.paper_id = p.id
        WHERE s.embedding IS NOT NULL
        <!-- 动态SQL：如果传入了 paperId，则只搜这一篇；否则搜全库 -->
        <if test="paperId != null">
            AND s.paper_id = #{paperId}
        </if>
        ORDER BY s.embedding &lt;=&gt; cast(#{vectorStr} as vector)
        LIMIT #{topK}
    </select>
</mapper>